body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr;
    height: 100vh;
  }

  header {
    grid-area: header;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
  }

  aside {
    grid-area: sidebar;
    background-color: rgb(232, 228, 228);
    padding: 1em;
    width: 300px;
  }

  main {
    grid-area: main;
    padding: 1em;
    margin-left: 90px;
  }

  footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
  }